{% extends "bootstrap/base.html" %}


{% block content %}
    <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/one.css') }}" />
</head>
    <center><img src="{{ url_for('static', filename='/images/logo1.png') }}" style="width:200px"></center>
<br>
    <center><div class="container">
      <h3 style="font-size: 50px">E志者2017年秋冬学期精品活动报名已经结束</h3>
        <h3 style="font-size: 47px">E路前行，相伴有你，感谢你对我们协会的支持和喜爱！</h3>
	  <br/>
    </div>
    </center>

{% endblock %}


