{% extends "admin/base.html" %}

{% block navbar %}
<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">浙江大学学生E志者协会</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/admin/download"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>记录下载</a></li>
            </ul>

        </div>
    </div>
</div>

{% endblock %}

{%  block page_content%}
        <div class="container">
            <table class="table" >
                <caption>报名记录</caption>
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>学号</th>
                        <th>手机号</th>
                        <th>邮箱</th>
                        <th>第一志愿</th>
                        <th>第二志愿</th>
                        <th>操作</th>
                        <th>查看照片</th>
                    </tr>
                </thead>
                {% for student in list %}
                <tbody>
                        <td>{{ student.id }}</td>
                        <td>{{ student.name }}</td>
                        {% if (student.sex == 1) %}
                        <td>男</td>
                        {% elif (student.sex == 2) %}
                        <td>女</td>
                        {% endif %}
                        <td>{{ student.studentid }}</td>
                        <td>{{ student.phone }}</td>
                        <td>{{ student.email }}</td>
                        {% if (student.question3 == 1) %}
                        <td>电脑部</td>
                        {% elif (student.question3 == 2) %}
                        <td>电器部</td>
                        {% elif (student.question3 == 3) %}
                        <td>财外部</td>
                        {% elif (student.question3 == 4) %}
                        <td>人资部</td>
                        {% elif (student.question3 == 5) %}
                        <td>文宣部</td>
                        {% else %}
                        <td>部门选项出错</td>
                        {% endif %}
                        {% if (student.question4 == 1) %}
                        <td>电脑部</td>
                        {% elif (student.question4 == 2) %}
                        <td>电器部</td>
                        {% elif (student.question4 == 3) %}
                        <td>财外部</td>
                        {% elif (student.question4 == 4) %}
                        <td>人资部</td>
                        {% elif (student.question4 == 5) %}
                        <td>文宣部</td>
                        {% else %}
                        <td>部门选项出错</td>
                        {% endif %}
                        <td><a href="{{ url_for('admin.look', id=student.id) }}" class="button small">查看报名信息</a></td>
                        <td><a href="{{ student.photo }}" class="button small">查看照片</a></td>
                </tbody>
                {% endfor %}
            </table>
        </div>
{% endblock %}

('1',u'电脑部'),('2',u'电器部'),('3',u'财外部'),('4',u'人资部'),('5',u'文宣部')