{% extends "admin/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="row">
    <div class="col-md-6">
        <a href="{{ doc_url }}">
        <button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>点击下载记录
        </button></a>
        <h2>姓名：{{ re.name }}</h2>
        <hr/>
        {% if (re.sex == 1) %}
        <h2>性别：男</h2>
        {% elif (re.sex == 2) %}
        <h2>性别：女</h2>
        {% endif %}
        <hr/>
        <h2>学号：{{ re.studentid }}</h2>
        <hr/>
        <h2>手机号：{{ re.phone }}</h2>
        <hr/>
        {% if (re.grade == 1) %}
        <h2>年级：大一</h2>
        {% elif (re.grade == 2) %}
        <h2>年级：大二</h2>
        {% elif (re.grade == 3) %}
        <h2>年级：大三</h2>
        {% elif (re.grade == 4) %}
        <h2>年级：大四</h2>
        {% endif %}
        <hr/>
        <h2>专业：{{ re.major }}</h2>
        <hr/>
        <h2>邮箱：{{ re.email }}</h2>
        <hr/>
        {% if (re.question3 == 1) %}
        <h2>第一志愿：电脑部</h2>
        {% elif (re.question3 == 2) %}
        <h2>第一志愿：电器部</h2>
        {% elif (re.question3 == 3) %}
        <h2>第一志愿：财外部</h2>
        {% elif (re.question3 == 4) %}
        <h2>第一志愿：人资部</h2>
        {% elif (re.question3 == 5) %}
        <h2>第一志愿：文宣部</h2>
        {% endif %}
        <hr/>
        <h2>请简述你选择该部门作为第一志愿的原因.</h2>
        <p>{{ re.whywants1 }}</p>
        <hr/>
        {% if (re.question4 == 1) %}
        <h2>第二志愿：电脑部</h2>
        {% elif (re.question4 == 2) %}
        <h2>第二志愿：电器部</h2>
        {% elif (re.question4 == 3) %}
        <h2>第二志愿：财外部</h2>
        {% elif (re.question4 == 4) %}
        <h2>第二志愿：人资部</h2>
        {% elif (re.question4 == 5) %}
        <h2>第二志愿：文宣部</h2>
        {% endif %}
        <hr/>
        <h2>请简述你选择该部门作为第二志愿的原因.</h2>
        <p>{{ re.whywants2 }}</p>
        <hr/>
        {% if (re.question5 == 1) %}
        <h2>服从志愿</h2>
        {% elif (re.question5 == 2) %}
        <h2>不服从志愿</h2>
        {% endif %}
        <hr/>
    </div>
    <div class="col-md-6">
        <h2>照片：</h2>
        <img src='{{ re.photo }}' style="width:400px">
    </div>
</div>
        <h2>个人简介</h2>
        <p>{{ re.intro }}</p>
        <hr/>
        <h2>请简述你想加入E志者协会的理由。</h2>
        <p>{{ re.why }}</p>
        <hr/>
        <h2>请简述你能给E志者带来什么。</h2>
        <p>{{ re.what }}</p>
        <hr/>
        <h2>没空时间：</h2>
        {% if (re.day25 == 1) %}
        <p>25晚</p>
        {% endif %}
        {% if (re.day26 == 1) %}
        <p>26晚</p>
        {% endif %}
        {% if (re.day27 == 1) %}
        <p>27晚</p>
        {% endif %}
        {% if (re.day28 == 1) %}
        <p>28晚</p>
        {% endif %}
        {% if (re.day291 == 1) %}
        <p>29中午</p>
        {% endif %}
        {% if (re.day29 == 1) %}
        <p>29晚</p>
        {% endif %}
        {% if (re.day30 == 1) %}
        <p>30下午</p>
        {% endif %}
        <hr/>
<h2>面试时间备注：</h2>
<p>{{ re.remarks }}</p>
{{ wtf.quick_form(form) }}
{% endblock %}